header
  background-color: rgb(31, 41, 55)
  color: #fff
  padding: 1rem 3rem
  display: flex
  align-items: center
  column-gap: .5rem

h1
  text-transform: capitalize
  margin: 0

mat-icon
  color: lime
  font-size: 35px
  height: 35px
  width: 35px

@media (max-width: 600px)
  header
    justify-content: center
