/* Box Model */
* {
    /* Sizing and Spacing */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Layout */
html,
body {
    /* Dimensions */
    width: 100dvw;
    height: 100dvh;

    /* Overflow */
    overflow-x: hidden;
}

/* Typography */
body {
    /* Font smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
    /* Appearance */
    color: inherit;
    text-decoration: none;
}
